.baseboard {
    display: flex;
    flex-direction: column;
    margin: .5rem 2rem .5rem 2rem;
    gap: 1rem;
}

.baseboard hr {
    height: 1px;
    color: #B0E0D3;
}

.baseboard div {
    display: flex;
    gap: 2rem;
    margin: 0 1rem 0 1rem;
}

.baseboard a {
    text-decoration: none;
    font-family: 'Nunito';
    font-weight: 400;
    color: #000000;

}

.baseboard h3{
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    color: #515151;
    margin-left: 1rem;
}

.baseboardActive{
    font-weight: 700;
}