.Header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Nunito', sans-serif;
    background-color: #eeeeee;
    padding: 0 2rem 0 2rem;
}

.Header a {
    font-size: 2rem;
    font-weight: 700;
    color: #018762;
    text-decoration: none;
}

.Header nav{
    display: flex;
    gap: 2rem;
}

.Header nav:first-child {
    color: #018762;
}

.Header nav  a {
    font-size: 1rem;
    color: #000000;
}



